# dependencies
node_modules
.pnp
.pnp.js

# next.js
.next/
out/
build/

# database & environment
.env*.local
*.db
*.db-journal

# misc
.DS_Store
*.log
.claude/
.vscode/

struct_1.jpeg
struct_2.jpeg
struct_3.jpeg

supabase_schema.sql