# dependencies
node_modules
.pnp
.pnp.js

# next.js
.next/
out/
build/

# database & environment
.env*.local
*.db
*.db-journal

# misc
.DS_Store
*.log
.claude/
.vscode/

# image
*.jpeg
*.jpg
*.png

#database
*.db